<div class="container" ng-app="twitchStream" ng-controller="twitchCtrl">

  <h2>Now Showing {{results.length}} Twitch TV Streams</h2>
<div class= "w3 container">
  <div ng-repeat="result in results | orderBy: 'stream'" class="row">
    <div class="col-sm-12 stream-card" ng-class="result.stream ? 'online' : 'offline'">
      <img ng-if="result.stream" ng-src="{{result.stream.channel.logo}}"/>
      <span ng-if="!result._links">{{result.user}}</span>
      <a target="_blank" ng-if="result._links" ng-href="http://www.twitch.tv/{{result.user}}">{{result.user}}</a>
      <span ng-if="result.stream"> {{result.stream.channel.game}}: {{result.stream.channel.status}}:</span>
     
      <span ng-if="!result.stream && !result.error"> is Offline</span>
      <span ng-if="result.error">This User is not found</span>
      </div>
    </div>
  </div>
</div>