
.stream-card {  
  background-color: teal;
  margin: 2px;
}

.offline{
  background-color: #2c384e;
  color: white;
}

.online{
  background-color: #b8cca6;
  color: black;
}

.row {
  width: auto ;
  padding: auto;   
}

.user-profile {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

/*div {
    width: 200px;
    padding: 2px;
    border: 2px solid navy;
    margin: 2px;
}]*/