.stream-card {
  border: blue;
  margin: 2px;
  background-color: teal;
}

body {
  background-color: darkgrey;
}
.offline{
 background-color: #2c384e;
  color: white;
}

.online{
  background-color: #b8cca6;
  color: black;
}

.row {
  width: auto ;
  padding: auto;
  border: solid darkblue;
  border-width: 2px;
  margin: 2px; 
}

img {
  border-radius: 50%;
  width: 50px;
    height: 50px;
}

div {
    width: 200px;
    padding: 2px;
    border: 2px solid navy;
    margin: 2px;
}]