<h2>OOP Calculator</h2>


<!-- <div id="calculator">
  <form action='index.html' method='post' name='calc'>
    <input type='text' disabled='true' name='output' id='output' ng-model="output"/>
    <table id="buttontable">
      <tr ng-repeat="row in buttons">
        <td ng-repeat="button in row">
          <input type='button' value='{{button.value}}' ng-click="pushButton(button.value)"/>
        </td>                
      </tr>
    </table>
  </form>
</div> -->



<div id="calculator">        
    <div class="result"><p id='output'>{{output}}</p></div>
    <div class="clear" ng-click="pushButton('C')">C</div>
    
    <div ng-repeat="row in buttons">
      <span class="calc-button" ng-repeat="button in row" ng-click="pushButton(button.value)">
        {{button.value}}
      </span>
    </div>
</div>