<h1>Welcome to the Shortener</h1>
<h2>Enter the URL You Would Like to Shorten</h2>
<!-- <input ng-model="inputUrl" type="text"></input>
<button ng-click="createUrl(inputUrl)">Click Me 2 Shorten</button> -->

<h4 id="errorMessage" ng-show="errorFlag">Please Enter Your URL in the following format: https://www.yoururl.com</h4>
<form novalidate>
	<input ng-model="inputUrl" type="text"></input>
	<input ng-click="createUrl(inputUrl)" type="submit" value="Create URL"></input>
</form>

<h3><a ng-show="shortCode" target="_blank" ng-href="{{api + shortCode}}">{{api + shortCode}}</a></h3>

